@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');
@import 'settings';

$global-gutter: 30px;
$global-width-small: 100%;
$brand-gray: #404040;

@import 'foundation-emails';
@import 'template/template';

table.container {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11);
  border-radius: 3px;
}

table.button { 
  table td {
    border: 0;
    border-radius: 3px;
    
    background-color: #9b218b;
    background-image: linear-gradient(180deg, #ae2c9d 0%, #8c197d 100%);
    box-shadow: 0 2px 0 0 #690d63;  

    a {
      padding: 8px 15px;
      line-height: 27px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
    }
  }

  &.secondary {
    table td {
      background-color: #a5a5a5;
      background-image: linear-gradient(180deg, #c2c2c2 0%, #8d8d8d 100%);
      box-shadow: 0 2px 0 0 #606060;
    }
  }

  &.secondary:hover {
    table td {
      background-color: darken(#a5a5a5, 5%);
      background-image: linear-gradient(180deg, darken(#c2c2c2, 5%) 0%, darken(#8d8d8d, 5%) 100%);
      box-shadow: 0 2px 0 0 #606060;
    }
  }

  &:hover {
    table td {
      background-color: lighten(#9b218b, 5%);
      background-image: linear-gradient(180deg, lighten(#ae2c9d, 5%) 0%, lighten(#8c197d, 5%) 100%);
      box-shadow: 0 2px 0 0 #690d63;
    }
  }

  &.tiny {
    table td a {
      padding: 5px 10px;
      line-height: 15px;
    }
  }

  &.small {
    table td a {
      padding: 6px 15px;
      line-height: 20px;
    }
  }

  &.large {
    table td a {
      padding: 10px 35px;
      line-height: 35px;
    }
  }
}

.background {
  // z-index: 0;
  // position: fixed;
  // top: 0;
  width: 3000px;
  height: 138px;
  position: absolute;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: top center;  

  // height: 138px;
}

.main-content {
  position: relative;
  z-index: 1;
}


h1 {
  margin-bottom: 5px;
}

.week-data {
  border-bottom: 1px solid $brand-divider;
  border-right: 1px solid  $brand-divider;

  &.last {
    border-right: 0;
  }
}

.icon-box {
  .wrapper-inner {
    img {margin: 20px auto 10px auto; }
    p {
      text-align: center;
      .lead { font-size: 20px; line-height: 32px; display: block; font-weight: 700; }
    }
  }
}


.product {
  width: 600px;

  .info {
    padding: 30px;
    padding-right: 0;

    .brand-new {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700;
      margin-bottom: 4px;
    }
  }

  .device {
    vertical-align: middle;
    padding: 15px 0;
  }
}

.button-group {
  white-space: nowrap;
  .button { margin-bottom: 0; }
}


.socials {
  width: 100%;

  &__pull { width: auto }
  &__item {
    width: 35px;
    height: 34px;

    padding: 0 10px;
    padding-bottom: 10px;

    &__icon {
      display: inline;
    }
  }
}


.features-list  { 
  &__feature {
    width: 14.2%;
    text-align: center;
    padding-bottom: 15px;

    &__image {
      margin: 0 auto;
      Margin: 0 auto;
      float: none;
      text-align: center;
    }

    &__title {
    }
  }
}



@media only screen and (max-width: 616px) {
  .healbe {
    background-attachment: initial !important;
  }

  .healbe img.logotype {
    height: 40px !important;
  }

  table.healbe .container
  {
    width: 100% !important;
  }

  .week-data {
    border-right: 0 !important;
  }

  .product {
    width: 100% !important;

    .info {
      padding: 30px;
      padding: 15px !important;
      padding-right: 0 !important;

      .logo {
        height: 57px !important;
      }
    }

    .device {
      width: 152px !important;
      img { width: 152px !important; height: 149px !important; }
    }
  }


  .features-list  {
    &__feature {
      width: 25% !important;
    }
    &__pull {
      width: 12.5% !important;
    }
  }
}

.healbe-announce {
  background-color: #720e6c !important;
}

.announce-body {
  border-radius: 3px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.16); 
}

.announce-block {
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;

  a { 
    border-bottom: 1px solid #e2bce0;

    &:hover {
      border-bottom: 0;
    }
  }

  .button {
    a {
      border: 0 solid #9b218b !important;
    }
  }

  > tbody > tr {
    padding: 0;
    text-align: left;
    vertical-align: top;
  }

  > tbody > tr > td {
    padding: 40px 42px;
  }

  h2 {
    font-size: 22px;
    font-weight: 700;

    margin-bottom: 20px;
  }

  &.--pink {
    background-color: #f2e9f2;
  }

  &.--no-bottom {
    > tbody > tr > td {
      padding-bottom: 0;
    }
  }

  &.--no-vertical {
    > tbody > tr > td {
      padding: 0 42px;
    }
  }

  &.--no-padding {
    > tbody > tr > td {
      padding: 0;
    }
  }

  &.--row {
    > tbody > tr > td {
      padding: 0 26px;
    }
  }

  &.--ads {
    > tbody > tr > td {
      padding: 20px 0 20px 42px;
    }
  }
}

.schema-number {
  color: #920089;
  font-weight: 700;
}


.announce-footer {
  background: transparent !important;

  > tbody > tr > td > p,
  > tbody > tr > td {
    color: white;
  }
}


@media only screen and (max-width: 616px) {
  .announce-block {
    > tbody > tr > td {
      padding: 30px 25px !important;
    }

    &.--no-bottom {
      > tbody > tr > td {
        padding-bottom: 0 !important;
      }
    }

    &.--no-vertical {
      > tbody > tr > td {
        padding: 0 30px !important;
      }
    }

    &.--no-padding {
      > tbody > tr > td {
        padding: 0 !important;
      }
    }

    &.--row {
      > tbody > tr > td {
        padding: 0 9px !important;
      }
    }

    &.--ads {
      > tbody > tr > td {
        padding: 20px 0 20px 25px !important;
      }
    }
  }
}



.healbe-confirmation {
  h2 {
    color: #404040;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
  }

  h3 {
    font-size: 18px;
    line-height: 21px;
  }

  h4 { 
    font-size: 1em;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  hr {
    border-color: #e2e2e2;
    border-style: solid;
  }
}


ol {
  padding-left: 17px;

  ul {
    padding-top: 10px;
    list-style: disc;
    padding-left: 20px;

    li { margin-bottom: 10px; }
  }
}

ol li, ul li { margin-bottom: 20px; }