---
subject: Aler Denisov CV
---

<spacer size="25" />
<container class="ResumeBlock">
  <row>
    <columns large="3">
      <spacer size="16" />
      <h3 class="ResumeBlock__Title">About me</h3>
    </columns>
    <columns large="5" style="padding-right: 16px;">
      <spacer size="16" />
      <p>
        I am Aler Denisov, Game Developer. Wrote my very first line of code at 1997 on&nbsp;Basic for a&nbsp;computable calculator. I was 8 y.o and it was text-based adventure about the <code>&amp;</code> in world of an <code>Ω</code>.  
      </p>
      <p>
        My career starts at early 2004. I worked in advertisment agency as a computer-guy.
      </p>
    </columns>
    <columns large="4" class="-nopadding">
      <img src="http://i.imgur.com/sRW5mCb.jpg?1">
    </columns> 
  </row>
</container>

<spacer size="15" />

<container class="ResumeBlock">
  <spacer size="16" />
  <row>
    <columns large="3">
      <h3 class="ResumeBlock__Title">Early career</h3>
    </columns>
    <columns large="9">
    <p>
      In early 00's, hosted and modified private servers of poplular title: Ultima Online, Ragnarok. 
      I closed my last pirate server at 600 ACU. <small>have no idea why</small>
    </p>
  </columns>
  </row>
</container>

<spacer size="15" />

<container class="ResumeBlock">
  <spacer size="16" />
  <row>
    <columns large="3">
      <h3 class="ResumeBlock__Title">Before gamedev</h3>
    </columns>
    <columns large="9">
    <p>
      Until 2011, I worked as a graphical designer in web development. Taught and practiced the code as a hobby, which is why I know <span class="-cross">php</span> python and js.
    </p>
  </columns>
  </row>
</container>


<spacer size="15" />

<container class="ResumeBlock">
  <spacer size="16" />
  <row>
    <columns large="3">
      <h3 class="ResumeBlock__Title">Objective:</h3>
    </columns>
    <columns large="9">
    <ul>
      <li>Lead/Senior Developer position in the industry leading company</li>
      <li>Joining a friendly and proactive development team</li>
      <li>Work with interesting projects in a rapid development cycle</li>
      <li>Working environment focused on achieving results</li>
      <li>Decent salary starting from $4000 monthly with growth depending on the results</li>
    </ul>
  </columns>
  </row>
</container>

<spacer size="15" />
<container class="ResumeBlock">
  <spacer size="16" />
  <row>
    <columns large="3">
      <h3 class="ResumeBlock__Title">Skills:</h3>
    </columns>
    <columns large="9">
      <ul>
        <li>
          <strong>Programming:</strong>
          <ul>
            <li>Code Architecture</li>
            <li>Algorithms &amp; Game logic</li>
            <li>Networking <small>p2p, client-server, remote API</small></li>
            <li>Optimization <small>caching, polling, parallel</small></li>
          </ul>
        </li>
        <li>
          <strong>Programming Languages:</strong>
          <ul>
            <li><strong>C#</strong>
            <li><strong>JavaScript</strong>
            <li>C\C++, Java, HSLS, python, <small>php</small></li>
          </ul>
        </li>
        <li>
          <strong>Unity related:</strong>
          <ul>
            <li>Editor extensions</li>
            <li>C++ native plugins <small>algorithms optimization, OS api)</small></li>
            <li>Shaders <small>vert\frag as well as compute</small></li>
            <li>USB\COM communication <small>micro controllers, robots and etc</small></li>
            <li>Augmented Reality</li>
            <li>Virtual Reality</li>
            <li>Program Animation</li>
          </ul>
        </li>
      </ul>
    </columns>
  </row>
</container>

<spacer size="15" />
<container class="ResumeBlock ResumeBlock--experience">
  <spacer size="16" />
  <row>
    <columns large="3">
      <h3 class="ResumeBlock__Title">Experience:</h3>
    </columns>
    <columns large="9">
      <h3 class="ResumeBlock--experience__Position">Core Developer</h3>
      <span class="ResumeBlock--experience__Divider">in</span>
      <h4 class="ResumeBlock--experience__Employee">Age of Guilds</h4>
      <p class="ResumeBlock--experience__Date">Jul 2016 &ndash; present</p>
      <ul>
        <li>
          <strong>Wrote and designed extremely modular and maintainable architecture of MMORPG client with:</strong>
          <ul>
            <li>Strict and easy to understand convention of modules based on ECS pattern;</li>
            <li>Declarative UI system based on XML and LUA;</li>
            <li>Universal and thread-safe networking layer (from scratch);</li>
            <li>Modular system allows to inject part of code as remote resource;</li>
            <li>Remote content manager allows to compare versions of content and create additional branches;</li>
            <li>Rich avatars system with twenty slots of equipment;</li>
            <li>and much more;</li>
          </ul>
        </li>
        <li>
          Successfully combine bunch of technologies to generate static site hosted on GitHub pages with:
          <ul>
            <li>Dynamic image gallery (hosted for free on Imgur);</li>
            <li>Documentation (hosted as separate github repository);</li>
          </ul>
        </li>
      </ul>
    </columns>
  </row>
</container>

<container class="ResumeBlock ResumeBlock--image">
  <img src="http://i.imgur.com/v5qPK4C.jpg">
  <row>
    <columns large="6">
      <img src="https://raw.githubusercontent.com/alerdenisov/ReUI/master/Resources/wiki-05.png">
    </columns>
    <columns large="6">
      <img src="http://i.imgur.com/Pp7nXEn.jpg">
    </columns>
  </row>
</container>

<spacer size="15" />
<container class="ResumeBlock ResumeBlock--experience">
  <spacer size="16" />
  <row>
    <columns large="3">
      <h3 class="ResumeBlock__Title"></h3>
    </columns>
    <columns large="9">
      <h3 class="ResumeBlock--experience__Position">Producer &amp; Core Developer</h3>
      <span class="ResumeBlock--experience__Divider">in</span>
      <h4 class="ResumeBlock--experience__Employee">Flirt Mania</h4>
      <p class="ResumeBlock--experience__Date">Feb 2015 &ndash; Oct 2015</p>
      <ul>
        <li><strong>Wrote and designed core architecture of the game</strong></li>
        <li><strong>Create from scratch four mini-game </strong><small>match3, swipper, cutter, gestures</small></li>
        <li>Supervised the work of programmers as well as artist and text writters</li>
        <li>Successfully managed five artists to draw rich and high quality graphical content (characters, backgrounds, emotional and artworks)</li>
        <li>Successfully handled optimization for low-end smartphones</li>
        <li>Trained junior programmer to work as a game developer in a team</li>
      </ul>
    </columns>
  </row>
</container>

<container class="ResumeBlock ResumeBlock--image">
  <img src="http://i.imgur.com/nHEioFA.jpg">
  <row>
    <columns large="6">
      <img src="http://i.imgur.com/v9bKfav.jpg">
    </columns>
    <columns large="6">
      <img src="http://i.imgur.com/Rlq3AOI.jpg">
    </columns>
  </row>
</container>

<spacer size="15" />
<container class="ResumeBlock ResumeBlock--experience">
  <spacer size="16" />
  <row>
    <columns large="3">
      <h3 class="ResumeBlock__Title"></h3>
    </columns>
    <columns large="9">
      <h3 class="ResumeBlock--experience__Position">Co-founder &amp; Core Developer</h3>
      <span class="ResumeBlock--experience__Divider">in</span>
      <h4 class="ResumeBlock--experience__Employee">Vibrance</h4>
      <p class="ResumeBlock--experience__Date">Nov 2013 &ndash; Mar 2016</p>
      <ul>
        <li>
          <strong>Supervised and managed development of six large interactive projects:</strong>
          <ul>
            <li><strong>Rosneft Pipewalker</strong> &ndash; the game about construction of pipes for touch display</li>
            <li><strong>RJD Kids</strong> &ndash; quiz about safety on railroad in augmented realty</li>
            <li><strong>SBOL</strong> &ndash; 3d interactive presentation about features of Sberbank online banking</li>
            <li><strong>Sberbank</strong> &ndash; iteractive novel about service of bank collection in a future</li>
            <li><strong>Laser Maze</strong> &ndash; multiplayer hot seat game for non-profit exibition</li>
            <li><strong>Russian Sky Force</strong> &ndash; interactive 3d show based on 57 fullhd displays</li>
          </ul>
        </li>
        <li><strong>Wrote and designed unique technology which allows to interact with installation via mobile phone <small>TCP connection via websockets</small></li>
        <li>Successfully handled with integration of AR, VR, custom controllers, and camera projection technologies to our services</li>
        <li>Successfully managed five artists to draw rich and high quality graphical content (characters, backgrounds, emotional and artworks)</li>
        <li>Sold developemnt of twelve interactive projects on cold market</li>
      </ul>
    </columns>
  </row>
</container>

<container class="ResumeBlock ResumeBlock--image">
  <img src="http://i.imgur.com/VhjJXh4.jpg">
  <row>
    <columns large="6">
      <img src="http://i.imgur.com/44jycYx.gif">
    </columns>
    <columns large="6">
      <img src="http://i.imgur.com/C3V5tsR.jpg">
    </columns>
  </row>
</container>


<spacer size="15" />
<container class="ResumeBlock ResumeBlock--experience">
  <spacer size="16" />
  <row>
    <columns large="3">
      <h3 class="ResumeBlock__Title"></h3>
    </columns>
    <columns large="9">
      <h3 class="ResumeBlock--experience__Position">Unity Developer (UI)</h3>
      <span class="ResumeBlock--experience__Divider">in</span>
      <h4 class="ResumeBlock--experience__Employee">Voice of Pripyat</h4>
      <p class="ResumeBlock--experience__Date">Mar 2013 &ndash; Jul 2013</p>
      <ul>
        <li>Modified existing UI solution to correct errors, allowing it to adapt to new graphical design, and to improve its performance.</li>
        <li>Designed and wrote reactive UI solution based on observable values</li>
      </ul>
    </columns>
  </row>
</container>

<container class="ResumeBlock ResumeBlock--image">
  <img src="https://pp.vk.me/c543108/v543108655/2dea0/QBJhY7W0ibU.jpg">
  <row>
    <columns large="6">
      <img src="https://pp.vk.me/c626629/v626629655/526e9/gF9AY70Cq-Q.jpg">
    </columns>
    <columns large="6">
      <img src="https://pp.vk.me/c637428/v637428287/1a06d/TAuLgn_fBWc.jpg">
    </columns>
  </row>
</container>

<spacer size="15" />
<container class="ResumeBlock ResumeBlock--experience">
  <spacer size="16" />
  <row>
    <columns large="3">
      <h3 class="ResumeBlock__Title"></h3>
    </columns>
    <columns large="9">
      <h3 class="ResumeBlock--experience__Position">Unity Developer</h3>
      <span class="ResumeBlock--experience__Divider">in</span>
      <h4 class="ResumeBlock--experience__Employee">Tanks Heroes</h4>
      <p class="ResumeBlock--experience__Date">Nov 2012 &ndash; Feb 2013</p>
      <ul>
        <li>Modified existing networking solution to correct errors, allowing it to support new system of ballistics</li>
        <li>Implemented an entirely new system of ballistics, allows to set a speed, weight and air resistance</li>
        <li>Wrote bunch of scripts which collects analytics as well as sent it to server</li>
      </ul>
    </columns>
  </row>
</container>

<container class="ResumeBlock ResumeBlock--image">
  <img src="https://pp.vk.me/c619528/v619528458/fc22/392NkZlXovs.jpg">
  <row>
    <columns large="6">
      <img src="https://pp.vk.me/c619528/v619528458/fc10/ap-TuP1jUi0.jpg">
    </columns>
    <columns large="6">
      <img src="https://pp.vk.me/c619528/v619528458/fc2b/PKZacs10yhQ.jpg">
    </columns>
  </row>
</container>

<spacer size="15" />
<container class="ResumeBlock ResumeBlock--education">
  <spacer size="16" />
  <row>
    <columns large="3">
      <h3 class="ResumeBlock__Title">Education:</h3>
    </columns>
    <columns large="9">
    <h3 class="ResumeBlock--education__Place">Moscow Institute of Electronics and Mathematics</h3>
    <h3 class="ResumeBlock--education__Degree">Associate's Degree of Software Engineer</h3>
    <span class="ResumeBlock--education__When">2011, Russia, Moscow</span>

    <spacer size="25" />

    <h3 class="ResumeBlock--education__Place">Runtime School</h3>
    <h3 class="ResumeBlock--education__Degree">Student of Game Assets Creation course</h3>
    <span class="ResumeBlock--education__When">2011, Russia, Moscow</span>

    <spacer size="25" />

    <h3 class="ResumeBlock--education__Place">Scream School</h3>
    <h3 class="ResumeBlock--education__Degree">Student of Game Design course</h3>
    <span class="ResumeBlock--education__When">2012, Russia, Moscow</span>
    </columns>
  </row>
</container>

<spacer size="15" />
<container class="ResumeBlock ResumeBlock--accomplishments">
  <spacer size="16" />
  <row>
    <columns large="3">
      <h3 class="ResumeBlock__Title">Accomplishments:</h3>
    </columns>
    <columns large="9">
    <h3 class="ResumeBlock--accomplishments__Title">Maintainer of Rentitas</h3>
    <h3 class="ResumeBlock--accomplishments__Description">Modular ECS framework for Unity</h3>

    <spacer size="25" />

    <h3 class="ResumeBlock--accomplishments__Title">Maintainer of ReUI <small>⭐23</small></h3>
    <h3 class="ResumeBlock--accomplishments__Description">Unity declarative UI system based on XML and LUA</h3>

    <spacer size="25" />

    <h3 class="ResumeBlock--accomplishments__Title">Livecoding pioneer in Russia <small>🔴</small></h3>
    <h3 class="ResumeBlock--accomplishments__Description">Became to streams at middle 2012</h3>
    <spacer size="25" />

    <h3 class="ResumeBlock--accomplishments__Title">Done game for Jam in 24/48/72 hours <small>x10</small></h3>
    <h3 class="ResumeBlock--accomplishments__Description">Made 10 submission to a jams for 5 years</h3>

    </columns>
  </row>
</container>

<spacer size="25" />