---
main_title: Hello, Aljona!
main_subtitle: Here is your weekly report for Dec. 21 – Dec. 28

fb_url:   "https://www.facebook.com/myHealbe" # "{{{FB_URL}}}"
tw_url:   "https://twitter.com/healbe"        # "{{{TW_URL}}}"
in_url:   "https://www.instagram.com/healbe/" # "{{{IN_URL}}}"
yt_url:   "https://www.youtube.com/channel/UCKAdOr9IInz7Cn3KL0AlX1Q" # "{{{YT_URL}}}"
md_url:   "https://medium.com/@healbe"        # "{{{MD_URL}}}"
vk_url:   "https://medium.com/@healbe"        # "{{{MD_URL}}}"

hb_url:   "https://healbe.com"                # "{{{HB_URL}}}"
buy_url:  "https://healbe.com/gobe2#order"    # "{{{BUY_URL}}}"
inf_url:  "https://healbe.com/gobe2"          # "{{{INF_URL}}}"

my_url:   "https://healbe.com/my"             # "{{{MY_URL}}}"

# Want to be one of the first GoBe users  to try our new personified calorie intake feature? 
# 
# We’d like to invite you to join an  exclusive group of beta-testers to be the first to try it out.
# 
# Every person is unique, so when we measure energy balance, it is important for us to be aware and consider all variables related to this measurement. That’s why we’re launching a three-week program to test out this new firmware update that will give GoBe users a personified measurement of calorie intake!
# 
# If you’re interested in volunteering,  keep reading…

# beta_header_01: Want to be one of the first GoBe users  to try our new personified calorie intake feature? 
beta_header_01: Want to be one of the first GoBe users  to try our new personified calorie intake feature? 

beta_texts_01: 
  - "Every person is unique, so when we measure energy balance, it is important for us to be aware and consider all variables related to this measurement. 
     That’s why we’re going to launch a three-week program to test out this new firmware update that will give GoBe users a personified measurement of calorie intake!"
#  - "Every person is unique, so when we measure energy balance, it is important for us to be aware and consider all variables related to this measurement. 
#     That’s why we’re launching a three-week program to test out this new firmware update that will give GoBe users a personified measurement of calorie intake!"
#  - "If you’re interested in volunteering, keep reading…"

beta_header_02: "If you’re interested in volunteering, you must:"
# beta_header_02: "We have just a few requirements for volunteers:"
beta_texts_02: 
  - "Consent to Healbe’s processing of your personal data."
  - "Keep a manual food log in a journal or app, or on a Google Sheets template provided by Healbe. 
     You will be responsible for tracking mealtimes and descriptions of food consumed.<br/>
     These measurements provide a reference point by which we can determine each volunteer’s need 
     for personification and the impact after the testing period ends."
  - "Wear the bracelet properly, according to user recommendations:<ul><li>Wear GoBe all the time except to charge and clean/maintain;</li><li>Clean/maintain GoBe according to care instructions at least once per week;</li><li>Follow these links for more information: <br/>
    <div style='height: 10px'></div>
    <a href='https://healbe.com/us/faq/119/'>How to Wear GoBe 2</a> <br/> 
    <a href='https://healbe.com/us/faq/105/'>How to Charge GoBe 2</a> / <a href='https://healbe.com/us/faq/1202/'>Materials</a> <br />
    <a href='https://healbe.com/us/faq/230/'>Contraindications and Allergies</a> <br />
    <a href='https://healbe.com/us/faq/228/'>Cleaning GoBe 2</a> <br />
    <a href='https://healbe.com/us/faq/226/'>Maintaining the GoBe 2 Sensor</a> <br />
    <a href='#'>Maintaining the GoBe 2 Casing</a></li></ul>"
  - "Commit to the above for the specified three-week period to complete the program."

beta_texts_03: 
  - "If you are not satisfied with the personification firmware after the three-week program, we will restore the pre-trial settings."
  - "<b>Ready to join? Send an email to <a href='mailto:gobe@healbe.com'>gobe@healbe.com</a> and let us know you’re interested!</b>"
  - "GoBe You!"

cdn: ""

layout: healbe-layout-announce-simple
subject: Weekly information letter
---

<wrapper style="background-color: #a6009c; border-radius: 3px;" class="show-for-large">
  <img src="{{cdn}}assets/img/beta/header_web_2x.jpg" width="600" height="277">
</wrapper>

<wrapper style="background-color: #a6009c; border-radius: 3px;" class="hide-for-large">
  <img src="{{cdn}}assets/img/beta/header_mobile_2x.jpg">
</wrapper>

<table class="announce-block "><tbody><tr>
	<td>
  <h2>{{beta_header_01}}</h2>
  {{#each beta_texts_01}}
    <p>{{{this}}}</p>
    <spacer size="10"/>
  {{/each}}

  <spacer size="10" />
  <hr style="border:0; border-bottom: 1px solid #e2e2e2;">
  <spacer size="30" />

  <h2 style="font-size: 18px">{{beta_header_02}}</h2>
  <ol>
  {{#each beta_texts_02}}
    <li>{{{this}}}</li>
  {{/each}}
  </ol>

  <spacer size="10" />
  <hr style="border:0; border-bottom: 1px solid #e2e2e2;">
  <spacer size="30" />

  {{#each beta_texts_03}}
    <p>{{{this}}}</p>
    <spacer size="10"/>
  {{/each}}

	</td>
</tr></tbody></table>

<!--<img src="{{cdn}}assets/img/announce-0/{{announce_platform}}_web@2x.png" alt="Changer schema">-->