---
fb_url:   "https://www.facebook.com/myHealbe" # "{{{FB_URL}}}"
tw_url:   "https://twitter.com/healbe"        # "{{{TW_URL}}}"
in_url:   "https://www.instagram.com/healbe/" # "{{{IN_URL}}}"
yt_url:   "https://www.youtube.com/channel/UCKAdOr9IInz7Cn3KL0AlX1Q" # "{{{YT_URL}}}"
md_url:   "https://medium.com/@healbe"        # "{{{MD_URL}}}"
vk_url:   "https://vk.com/healberus"          # "{{{VK_URL}}}"

hb_url:   "https://healbe.com"                # "{{{HB_URL}}}"
buy_url:  "https://healbe.com/gobe2#order"    # "{{{BUY_URL}}}"
inf_url:  "https://healbe.com/gobe2"          # "{{{INF_URL}}}"

my_url:   "https://healbe.com/my"             # "{{{MY_URL}}}"

confirmation_text_2: "Your GoBe 2 order is confirmed!<br/>Your device should arrive in 2-6 weeks."   

confirmation_header_0: "Thank you for your Healbe GoBe 2 Order!"
confirmation_greeting: Dear
confirmation_text_0: "Thank you for your Healbe GoBe 2 order. <br/>Your order and payment have been received and are currently being processed."   

confirmation_text_3: "Your order number for reference is <strong>2621432486</strong>"

confirmation_header_1: What’s next?
confirmation_text_1: "
  <p style='margin-bottom: 0'>
    Your GoBe 2 will be delivered to your address. <br/>
    Please note, delivery times will vary depending on your location.
  </p>
  <ul>
    <li>• Europe: ~2 weeks</li>
    <li>• Outside Europe: ~2-6 weeks</li>
  </ul>
  <p>Deliveries will only be made Monday through Friday.</p>"

confirmation_header_2: "Order Summary:"

confirmation_order:
  - title: Your order
    value: Healbe GoBe2
  - title: Quantity
    value: 1
  - title: Your payment
    value: $179 + $10 (shipping fee)
  - title: Shipping address
    value: "Tomas Shultz<br/>111 Avenue 1, New York, <br/>United States"
  - title: Order date
    value: May 11, 2017

confirmation_footer_0: "If you have any questions, please refer to our <a href='http://healbe.com/faq'>FAQ</a> and <a href='https://wp.healbe.com/ru/manual/'>User Manual</a> available at Healbe.com. Or reach out to our <a href='http://healbe.com/faq'>Customer Service</a>."

username: "{%username%}"

cdn: ""

layout: healbe-layout-confirmation
subject: Weekly information letter
---

<spacer size="45" />
<wrapper class="show-for-large">
  <center>
    <img src="{{cdn}}assets/img/confirmation/band_2x.png" width="551" height="103">
  </center>
</wrapper>

<img src="{{cdn}}assets/img/confirmation/band_mobile_2x.png" width="320" height="103" class="hide-for-large">

<spacer size="30" />
<row>
  <columns>
    <h2>
      {{{confirmation_text_2}}} 
    </h2>
    <spacer size="20" />
    <p>
      {{confirmation_greeting}} {{username}},<br/>
      {{{confirmation_text_0}}}<br/>
      {{{confirmation_text_3}}}
    </p>

    <spacer size="15" />

    <h4>{{confirmation_header_1}}</h4>

    <spacer size="15" />

    {{{confirmation_text_1}}}

    <spacer size="30" />
    <hr style="border:0; border-bottom: 1px solid #e2e2e2;">
    <spacer size="30" />

    <h3>{{confirmation_header_2}}</h3>

    <spacer size="20" />

    <table>
      <tbody>
        {{#each confirmation_order}}
          <tr>
            <td style="padding-bottom: 25px; padding-right: 10px;">
              <strong>{{this.title}}</strong>
            </td>
            <td style="padding-bottom: 25px;">
              {{{this.value}}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <spacer size="15" />

    <hr style="border:0; border-bottom: 1px solid #e2e2e2;">

    <spacer size="30" />

    <p>
      {{{confirmation_footer_0}}}
    </p>
    
    <spacer size="20" />

  </columns>
</row>
