---
main_title: Hello, Aljona!
main_subtitle: Here is your weekly report for Dec. 21 – Dec. 28

fb_url:   "https://www.facebook.com/myHealbe" # "{{{FB_URL}}}"
tw_url:   "https://twitter.com/healbe"        # "{{{TW_URL}}}"
in_url:   "https://www.instagram.com/healbe/" # "{{{IN_URL}}}"
yt_url:   "https://www.youtube.com/channel/UCKAdOr9IInz7Cn3KL0AlX1Q" # "{{{YT_URL}}}"
md_url:   "https://medium.com/@healbe"        # "{{{MD_URL}}}"

hb_url:   "https://healbe.com"                # "{{{HB_URL}}}"
buy_url:  "https://healbe.com/gobe2#order"    # "{{{BUY_URL}}}"
inf_url:  "https://healbe.com/gobe2"          # "{{{INF_URL}}}"

my_url:   "https://healbe.com/my"             # "{{{MY_URL}}}"


my_text:  More Data
buy_text: Buy from $179
inf_text: Learn more

call_action: We've unveiled our new GoBe 2 <br class="show-for-large"/>with numerous updates and improvements. <br class="show-for-large"/>Order yours today!

wear_now: Keep wearing your GoBe to better monitor 
wear_features: "your health with information about"

BL_title: Calories consumed/<br/>burned
BL_mode: _down
BL_before: On average, you burned
BL_prefix: ""
BL_amount: 1220
BL_key: " more kcal"
BL_after: than you consumed


WT_title: Water balance
WT_mode: "_up"
WT_before: "You met recommended hydration levels"
WT_prefix: ""
WT_amount: 90
WT_key: "% of the time"
WT_after: ""


ST_title: Stress<br/> level
ST_mode: ""
ST_before: "Your stress level was low"
ST_prefix: ""
ST_amount: 76
ST_key: "% of time"
ST_after: ""


SL_title: Sleep
SL_mode: ""
SL_before: "On average, you slept"
SL_prefix: ""
SL_amount: 8
SL_key: " h per night"
SL_after: ""

HR_title: Heart rate
HR_mode: "_up"
HR_before: "Your average<br/>heart rate was"
HR_prefix: ""
HR_amount: 68
HR_key: " bpm"
HR_after: ""


DT_title: Steps
DT_mode: "_down"
DT_before: "You took"
DT_prefix: ""
DT_amount: 5000
DT_key: " "
DT_after: "total steps"

WG_title: Weight
WG_mode: "_up"
WG_before: "You lost"
WG_prefix: ""
WG_amount: 0.2
WG_key: " kg"
WG_after: ""

HB_mode: "_up"
HB_before: "You used your GoBe"
HB_prefix: ""
HB_amount: 90 
HB_key: "% of the time"
HB_after: ""

cdn: ""

layout: healbe-layout
subject: Weekly information letter
---

<container style="border-top-right-radius: 0 !important; border-top-left-radius: 0 !important;">
  <row>
    <columns small="12" class="week-data">
      <p class="text-center">{{{main_subtitle}}}</p>
    </columns>
  </row>

  <row>
    <columns large="12" small="12" class="week-data">
      <wrapper class="icon-box">
        <center>
          <img src="{{{cdn}}}assets/img/icn_weartime@2x.png" width="79" height="71">
        </center>
        <p>
          {{{HB_before}}}<br/>
          <span class="lead">{{{HB_prefix}}}{{{HB_amount}}}{{{HB_key}}}</span>
          {{{HB_after}}}
        </p>
      </wrapper>
    </columns>
  </row>
  <row>
    <columns>
      <spacer size="30"></spacer>
      <p class="text-center">
        {{{wear_now}}} <br class="show-for-large"/>
        {{{wear_features}}}
      </p>
      <spacer size="30"></spacer>

      <table class="features-list show-for-large">
        <tr>
          <td class="features-list__feature">
            <img src="{{{cdn}}}assets/img/icn_balance_s@2x.png" width="60" height="46" class="features-list__feature__image">
            <span class="features-list__feature__title">{{{BL_title}}}</span>
          </td>
          <td class="features-list__feature">
            <img src="{{{cdn}}}assets/img/icn_water_s@2x.png" width="60" height="46" class="features-list__feature__image">
            <span class="features-list__feature__title">{{{WT_title}}}</span>
          </td>
          <td class="features-list__feature">
            <img src="{{{cdn}}}assets/img/icn_stress_s@2x.png" width="60" height="46" class="features-list__feature__image">
            <span class="features-list__feature__title">{{{ST_title}}}</span>
          </td>
          <td class="features-list__feature">
            <img src="{{{cdn}}}assets/img/icn_sleep_s@2x.png" width="60" height="46" class="features-list__feature__image">
            <span class="features-list__feature__title">{{{SL_title}}}</span>
          </td>
          <td class="features-list__feature">
            <img src="{{{cdn}}}assets/img/icn_heart_s@2x.png" width="60" height="46" class="features-list__feature__image">
            <span class="features-list__feature__title">{{{HR_title}}}</span>
          </td>
          <td class="features-list__feature">
            <img src="{{{cdn}}}assets/img/icn_steps_s@2x.png" width="60" height="46" class="features-list__feature__image">
            <span class="features-list__feature__title">{{{DT_title}}}</span>
          </td>
          <td class="features-list__feature">
            <img src="{{{cdn}}}assets/img/icn_weight_s@2x.png" width="60" height="46" class="features-list__feature__image">
            <span class="features-list__feature__title">{{{WG_title}}}</span>
          </td>
        </tr>
      </table>
      <table class="features-list features-list--mobile hide-for-large">
        <tr>
          <td class="features-list__feature">
            <img src="{{{cdn}}}assets/img/icn_balance_s@2x.png" width="60" height="46" class="features-list__feature__image">
            <span class="features-list__feature__title">{{{BL_title}}}</span>
          </td>
          <td class="features-list__feature">
            <img src="{{{cdn}}}assets/img/icn_water_s@2x.png" width="60" height="46" class="features-list__feature__image">
            <span class="features-list__feature__title">{{{WT_title}}}</span>
          </td>
          <td class="features-list__feature">
            <img src="{{{cdn}}}assets/img/icn_stress_s@2x.png" width="60" height="46" class="features-list__feature__image">
            <span class="features-list__feature__title">{{{ST_title}}}</span>
          </td>
          <td class="features-list__feature">
            <img src="{{{cdn}}}assets/img/icn_sleep_s@2x.png" width="60" height="46" class="features-list__feature__image">
            <span class="features-list__feature__title">{{{SL_title}}}</span>
          </td>
        </tr>
      </table>
      <table class="features-list features-list--mobile hide-for-large">
        <tr>
          <td class="features-list__pull"></td>
          <td class="features-list__feature">
            <img src="{{{cdn}}}assets/img/icn_heart_s@2x.png" width="60" height="46" class="features-list__feature__image">
            <span class="features-list__feature__title">{{{HR_title}}}</span>
          </td>
          <td class="features-list__feature">
            <img src="{{{cdn}}}assets/img/icn_steps_s@2x.png" width="60" height="46" class="features-list__feature__image">
            <span class="features-list__feature__title">{{{DT_title}}}</span>
          </td>
          <td class="features-list__feature">
            <img src="{{{cdn}}}assets/img/icn_weight_s@2x.png" width="60" height="46" class="features-list__feature__image">
            <span class="features-list__feature__title">{{{WG_title}}}</span>
          </td>
          <td class="features-list__pull"></td>
        </tr>
      </table>
    </columns>
  </row>
</container>

<spacer size="17"></spacer>