---
main_title: Hello, Aljona!
main_subtitle: Here is your weekly report for Dec. 21 – Dec. 28

fb_url:   "https://www.facebook.com/myHealbe" # "{{{FB_URL}}}"
tw_url:   "https://twitter.com/healbe"        # "{{{TW_URL}}}"
in_url:   "https://www.instagram.com/healbe/" # "{{{IN_URL}}}"
yt_url:   "https://www.youtube.com/channel/UCKAdOr9IInz7Cn3KL0AlX1Q" # "{{{YT_URL}}}"
md_url:   "https://medium.com/@healbe"        # "{{{MD_URL}}}"

hb_url:   "https://healbe.com"                # "{{{HB_URL}}}"
buy_url:  "https://healbe.com/gobe2#order"    # "{{{BUY_URL}}}"
inf_url:  "https://healbe.com/gobe2"          # "{{{INF_URL}}}"

my_url:   "https://healbe.com/my"             # "{{{MY_URL}}}"


my_text:  More Data
buy_text: Buy from $179
inf_text: Learn more

call_action: We've unveiled our new GoBe 2 <br class="show-for-large"/>with numerous updates and improvements. <br class="show-for-large"/>Order yours today!

wear_now: Keep wearing your GoBe to better monitor 
wear_features: "your health with information about"

BL_title: Calories consumed/<br/>burned
BL_mode: _down
BL_before: On average, you burned
BL_prefix: ""
BL_amount: 1220
BL_key: " more kcal"
BL_after: than you consumed


WT_title: Water balance
WT_mode: "_up"
WT_before: "You met recommended hydration levels"
WT_prefix: ""
WT_amount: 90
WT_key: "% of the time"
WT_after: ""


ST_title: Stress<br/> level
ST_mode: ""
ST_before: "Your stress level was low"
ST_prefix: ""
ST_amount: 76
ST_key: "% of time"
ST_after: ""


SL_title: Sleep
SL_mode: ""
SL_before: "On average, you slept"
SL_prefix: ""
SL_amount: 8
SL_key: " h per night"
SL_after: ""

HR_title: Heart rate
HR_mode: "_up"
HR_before: "Your average<br/>heart rate was"
HR_prefix: ""
HR_amount: 68
HR_key: " bpm"
HR_after: ""


DT_title: Steps
DT_mode: "_down"
DT_before: "You took"
DT_prefix: ""
DT_amount: 5000
DT_key: " "
DT_after: "total steps"

WG_title: Weight
WG_mode: "_up"
WG_before: "You lost"
WG_prefix: ""
WG_amount: 0.2
WG_key: " kg"
WG_after: ""

HB_mode: "_up"
HB_before: "You used your GoBe"
HB_prefix: ""
HB_amount: 90 
HB_key: "% of the time"
HB_after: ""

cdn: ""

layout: healbe-layout
subject: Weekly information letter
---

<container style="border-top-right-radius: 0 !important; border-top-left-radius: 0 !important;">
  <row>
    <columns small="12" class="week-data">
      <p class="text-center">{{{main_subtitle}}}</p>
    </columns>
  </row>

  <row>
    <columns large="4" small="12" class="week-data">
      <wrapper class="icon-box">
        <img src="{{{cdn}}}assets/img/data_icons/icn_balance{{{BL_mode}}}@2x.png" width="79" height="71">
        <p>
          {{{BL_before}}}<br/>
          <span class="lead">{{{BL_prefix}}}{{{BL_amount}}}{{{BL_key}}}</span>
          {{{BL_after}}}
        </p>
      </wrapper>
    </columns>
    <columns large="4" small="12" class="week-data">
      <wrapper class="icon-box">
        <img src="{{{cdn}}}assets/img/data_icons/icn_water{{{WT_mode}}}@2x.png" width="79" height="71">
        <p>
          {{{WT_before}}}<br/>
          <span class="lead">{{{WT_prefix}}}{{{WT_amount}}}{{{WT_key}}}</span>
          {{{WT_after}}}
        </p>
      </wrapper>
    </columns>
    <columns large="4" small="12" class="week-data">
      <wrapper class="icon-box">
        <img src="{{{cdn}}}assets/img/data_icons/icn_stress{{{ST_mode}}}@2x.png" width="79" height="71">
        <p>
          {{{ST_before}}}<br/>
          <span class="lead">{{{ST_prefix}}}{{{ST_amount}}}{{{ST_key}}}</span>
          {{{ST_after}}}
        </p>
      </wrapper>
    </columns>
  </row>
  <row>
    <columns large="4" small="12" class="week-data">
      <wrapper class="icon-box">
        <img src="{{{cdn}}}assets/img/data_icons/icn_sleep{{{SL_mode}}}@2x.png" width="79" height="71">
        <p>
          {{{SL_before}}}<br/>
          <span class="lead">{{{SL_prefix}}}{{{SL_amount}}}{{{SL_key}}}</span>
          {{{SL_after}}}
        </p>
      </wrapper>
    </columns>
    <columns large="4" small="12" class="week-data">
      <wrapper class="icon-box">
        <img src="{{{cdn}}}assets/img/data_icons/icn_heart{{{HR_mode}}}@2x.png" width="79" height="71">
        <p>
          {{{HR_before}}}<br/>
          <span class="lead">{{{HR_prefix}}}{{{HR_amount}}}{{{HR_key}}}</span>
          {{{HR_after}}}
        </p>
      </wrapper>
    </columns>
    <columns large="4" small="12" class="week-data">
      <wrapper class="icon-box">
        <img src="{{{cdn}}}assets/img/data_icons/icn_steps{{{DT_mode}}}@2x.png" width="79" height="71">
        <p>
          {{{DT_before}}}<br/>
          <span class="lead">{{{DT_prefix}}}{{{DT_amount}}}{{{DT_key}}}</span>
          {{{DT_after}}}
        </p>
      </wrapper>
    </columns>
  </row>
  <row>
    <columns large="6" small="12" class="week-data">
      <wrapper class="icon-box">
        <img src="{{{cdn}}}assets/img/data_icons/icn_weight{{{WG_mode}}}@2x.png" width="79" height="71">
        <p>
          {{{WG_before}}}<br/>
          <span class="lead">{{{WG_prefix}}}{{{WG_amount}}}{{{WG_key}}}</span>
          {{{WG_after}}}
        </p>
      </wrapper>
    </columns>
    <columns large="6" small="12" class="week-data">
      <wrapper class="icon-box">
        <img src="{{{cdn}}}assets/img/data_icons/icn_weartime{{{HB_mode}}}@2x.png" width="79" height="71">
        <p>
          {{{HB_before}}}<br/>
          <span class="lead">{{{HB_prefix}}}{{{HB_amount}}}{{{HB_key}}}</span>
          {{{HB_after}}}
        </p>
      </wrapper>
    </columns>
  </row>
  <row>
    <columns>
      <spacer size="25"></spacer>
      <center>
        <button href="{{{my_url}}}" class="show-for-large">{{{my_text}}}</button>
        <button href="{{{my_url}}}" class="expanded hide-for-large">{{{my_text}}}</button>
      </center>
    </columns>
  </row>
</container>

<spacer size="17"></spacer>