---
main_title: "{{MAIN_TITLE}}"
main_subtitle: "{{MAIN_SUBTITLE}}"

fb_url:   "https://www.facebook.com/myHealbe" # "{{FB_URL}}"
tw_url:   "https://twitter.com/healbe"        # "{{TW_URL}}"
in_url:   "https://www.instagram.com/healbe/" # "{{IN_URL}}"
yt_url:   "https://www.youtube.com/channel/UCKAdOr9IInz7Cn3KL0AlX1Q" # "{{YT_URL}}"
md_url:   "https://medium.com/@healbe"        # "{{MD_URL}}"

hb_url:   "https://healbe.com"                # "{{HB_URL}}"
buy_url:  "https://healbe.com/gobe2#order"    # "{{BUY_URL}}"
inf_url:  "https://healbe.com/gobe2"          # "{{INF_URL}}"

my_url:   "https://healbe.com/my"             # "{{MY_URL}}"


my_text:    "{{MY_TEXT}}"
buy_text:   "{{BUY_TEXT}}"        # "Buy from $179"
inf_text:   "{{INF_TEXT}}"

call_action: "{{call_action}}"    # "Still use GoBe 1? GoBe2 is&nbsp;unveiled <br class="show-for-large"/>and&nbsp;it’s&nbsp;much better"

BL_mode:     "{{BL_MODE}}"        # "_up"
BL_before:   "{{BL_BEFORE}}"      # "You ate in average"
BL_prefix:   "{{BL_PREFIX}}"      # ""
BL_amount:   "{{BL_AMOUNT}}"      # 1220
BL_key:      "{{BL_KEY}}"         # " more kcal"
BL_after:    "{{BL_BEFORE}}"      # "than burned"


WT_mode:     "{{WT_MODE}}"        # "_up"
WT_before:   "{{WT_BEFORE}}"      # "You ate in average"
WT_prefix:   "{{WT_PREFIX}}"      # ""
WT_amount:   "{{WT_AMOUNT}}"      # 1220
WT_key:      "{{WT_KEY}}"         # " more kcal"
WT_after:    "{{WT_BEFORE}}"      # "than burned"


ST_mode:     "{{ST_MODE}}"        # "_up"
ST_before:   "{{ST_BEFORE}}"      # "You ate in average"
ST_prefix:   "{{ST_PREFIX}}"      # ""
ST_amount:   "{{ST_AMOUNT}}"      # 1220
ST_key:      "{{ST_KEY}}"         # " more kcal"
ST_after:    "{{ST_BEFORE}}"      # "than burned"


SL_mode:     "{{SL_MODE}}"        # "_up"
SL_before:   "{{SL_BEFORE}}"      # "You ate in average"
SL_prefix:   "{{SL_PREFIX}}"      # ""
SL_amount:   "{{SL_AMOUNT}}"      # 1220
SL_key:      "{{SL_KEY}}"         # " more kcal"
SL_after:    "{{SL_BEFORE}}"      # "than burned"

HR_mode:     "{{HR_MODE}}"        # "_up"
HR_before:   "{{HR_BEFORE}}"      # "You ate in average"
HR_prefix:   "{{HR_PREFIX}}"      # ""
HR_amount:   "{{HR_AMOUNT}}"      # 1220
HR_key:      "{{HR_KEY}}"         # " more kcal"
HR_after:    "{{HR_BEFORE}}"      # "than burned"


DT_mode:     "{{DT_MODE}}"        # "_up"
DT_before:   "{{DT_BEFORE}}"      # "You ate in average"
DT_prefix:   "{{DT_PREFIX}}"      # ""
DT_amount:   "{{DT_AMOUNT}}"      # 1220
DT_key:      "{{DT_KEY}}"         # " more kcal"
DT_after:    "{{DT_BEFORE}}"      # "than burned"

WG_mode:     "{{WG_MODE}}"        # "_up"
WG_before:   "{{WG_BEFORE}}"      # "You ate in average"
WG_prefix:   "{{WG_PREFIX}}"      # ""
WG_amount:   "{{WG_AMOUNT}}"      # 1220
WG_key:      "{{WG_KEY}}"         # " more kcal"
WG_after:    "{{WG_BEFORE}}"      # "than burned"

HB_mode:     "{{HB_MODE}}"        # "_up"
HB_before:   "{{HB_BEFORE}}"      # "You ate in average"
HB_prefix:   "{{HB_PREFIX}}"      # ""
HB_amount:   "{{HB_AMOUNT}}"      # 1220
HB_key:      "{{HB_KEY}}"         # " more kcal"
HB_after:    "{{HB_BEFORE}}"      # "than burned"


cdn:         "{{STATIC_DOMAIN}}"  # "http://mycdn.com/"

layout: healbe-layout
subject: Weekly information letter
---

<container style="border-top-right-radius: 0 !important; border-top-left-radius: 0 !important;">
  <row>
    <columns small="12" class="week-data">
      <p class="text-center">{{main_subtitle}}</p>
    </columns>
  </row>

  <row>
    <columns large="4" small="12" class="week-data">
      <wrapper class="icon-box">
        <img src="{{cdn}}assets/img/data_icons/icn_balance{{BL_mode}}@2x.png" width="79" height="71">
        <p>
          {{BL_before}}<br/>
          <span class="lead">{{BL_prefix}}{{BL_amount}}{{BL_key}}</span>
          {{BL_after}}
        </p>
      </wrapper>
    </columns>
    <columns large="4" small="12" class="week-data">
      <wrapper class="icon-box">
        <img src="{{cdn}}assets/img/data_icons/icn_water{{WT_mode}}@2x.png" width="79" height="71">
        <p>
          {{WT_before}}<br/>
          <span class="lead">{{WT_prefix}}{{WT_amount}}{{WT_key}}</span>
          {{WT_after}}
        </p>
      </wrapper>
    </columns>
    <columns large="4" small="12" class="week-data">
      <wrapper class="icon-box">
        <img src="{{cdn}}assets/img/data_icons/icn_stress{{ST_mode}}@2x.png" width="79" height="71">
        <p>
          {{ST_before}}<br/>
          <span class="lead">{{ST_prefix}}{{ST_amount}}{{ST_key}}</span>
          {{ST_after}}
        </p>
      </wrapper>
    </columns>
  </row>
  <row>
    <columns large="4" small="12" class="week-data">
      <wrapper class="icon-box">
        <img src="{{cdn}}assets/img/data_icons/icn_sleep{{SL_mode}}@2x.png" width="79" height="71">
        <p>
          {{SL_before}}<br/>
          <span class="lead">{{SL_prefix}}{{SL_amount}}{{SL_key}}</span>
          {{SL_after}}
        </p>
      </wrapper>
    </columns>
    <columns large="4" small="12" class="week-data">
      <wrapper class="icon-box">
        <img src="{{cdn}}assets/img/data_icons/icn_heart{{HR_mode}}@2x.png" width="79" height="71">
        <p>
          {{HR_before}}<br/>
          <span class="lead">{{HR_prefix}}{{HR_amount}}{{HR_key}}</span>
          {{HR_after}}
        </p>
      </wrapper>
    </columns>
    <columns large="4" small="12" class="week-data">
      <wrapper class="icon-box">
        <img src="{{cdn}}assets/img/data_icons/icn_steps{{DT_mode}}@2x.png" width="79" height="71">
        <p>
          {{DT_before}}<br/>
          <span class="lead">{{DT_prefix}}{{DT_amount}}{{DT_key}}</span>
          {{DT_after}}
        </p>
      </wrapper>
    </columns>
  </row>
  <row>
    <columns large="6" small="12" class="week-data">
      <wrapper class="icon-box">
        <img src="{{cdn}}assets/img/data_icons/icn_weigh{{WG_mode}}t@2x.png" width="79" height="71">
        <p>
          {{WG_before}}<br/>
          <span class="lead">{{WG_prefix}}{{WG_amount}}{{WG_key}}</span>
          {{WG_after}}
        </p>
      </wrapper>
    </columns>
    <columns large="6" small="12" class="week-data">
      <wrapper class="icon-box">
        <img src="{{cdn}}assets/img/data_icons/icn_weartime{{HB_mode}}@2x.png" width="79" height="71">
        <p>
          {{HB_before}}<br/>
          <span class="lead">{{HB_prefix}}{{HB_amount}}{{HB_key}}</span>
          {{HB_after}}
        </p>
      </wrapper>
    </columns>
  </row>
  <row>
    <columns>
      <spacer size="25"></spacer>
      <center>
        <button href="{{my_url}}" class="show-for-large">{{my_text}}</button>
        <button href="{{my_url}}" class="expanded hide-for-large">{{my_text}}</button>
      </center>
    </columns>
  </row>
</container>

<spacer size="17"></spacer>