---
main_title: Hello, Aljona!
main_subtitle: Here is your weekly report for Dec. 21 – Dec. 28

fb_url:   "https://www.facebook.com/myHealbe" # "{{{FB_URL}}}"
tw_url:   "https://twitter.com/healbe"        # "{{{TW_URL}}}"
in_url:   "https://www.instagram.com/healbe/" # "{{{IN_URL}}}"
yt_url:   "https://www.youtube.com/channel/UCKAdOr9IInz7Cn3KL0AlX1Q" # "{{{YT_URL}}}"
md_url:   "https://medium.com/@healbe"        # "{{{MD_URL}}}"
vk_url:   "https://medium.com/@healbe"        # "{{{MD_URL}}}"

hb_url:   "https://healbe.com"                # "{{{HB_URL}}}"
buy_url:  "https://healbe.com/gobe2#order"    # "{{{BUY_URL}}}"
inf_url:  "https://healbe.com/gobe2"          # "{{{INF_URL}}}"

my_url:   "https://healbe.com/my"             # "{{{MY_URL}}}"


announce_platform: android
announce_ads_text: "<p>Also, we are happy to say that new version of GoBe — GoBe 2 is released! You can <a href='#'>check up differences between versions</a> or</p>"
announce_ads_button_text: "BUY FOR $179"
announce_ads_button_link: "#"

announce_header_0: Dear GoBe users,

announce_text_0: "<p>We’re proud to introduce the newest feature for all GoBe devices: completely automatic calorie intake measurement. This means <strong>you no longer need to press the button</strong> on the unit to measure your calorie intake or indicate meal times in the app!</p><p>To activate this incredible new feature, just update the firmware in your Android or iOS app</p>"

announce_header_1: "How do I update my GoBe?"
announce_text_1: "<p>Before updating the firmware, make sure your device is fully charged 
and you’ve synced all recorded data in the app. Updating your device will erase any unsynced data your GoBe has recorded for the day.</p><p>For a graphic guide to downloading our new firmware, follow the instructions below:
</p>"
announce_schema_0: "<span class='schema-number'>1.</span> Place the GoBe unit on its charger."
announce_schema_1: "<span class='schema-number'>2.</span> Click the wristband icon on the app’s home screen."
announce_schema_2: "<span class='schema-number'>3.</span> The message “Update Available” will appear. Click “Update”."
announce_schema_3: "<span class='schema-number'>4.</span> Wait until firmware will be installed. Then start using GoBe."

announce_text_2: "<p><strong>Important:</strong> Measured calorie intake will be shown as your body digests food. This can take anywhere between 10–15 minutes and 5–6 hours, depending on the food’s characteristics and your individual digestion process.</p>
<p><a href='#'>Learn more about energy intake</a></p>"

cdn: ""

layout: healbe-layout-announce
subject: Weekly information letter
---

<wrapper style="background-color: #a6009c; border-radius: 3px;" class="show-for-large">
  <img src="{{cdn}}assets/img/announce-0/web_header+text@2x.png" width="600" height="260">
</wrapper>

<wrapper style="background-color: #a6009c; border-radius: 3px;" class="hide-for-large">
  <img src="{{cdn}}assets/img/announce-0/mobile_header+text@2x.png">
</wrapper>

<table class="announce-block "><tbody><tr>
	<td>
  <h2>{{announce_header_0}}</h2>
  {{{announce_text_0}}}
	</td>
</tr></tbody></table>
<table class="announce-block --pink --no-bottom"><tbody><tr>
	<td>
  <h2>{{announce_header_1}}</h2>
  {{{announce_text_1}}}
  <p>{{{announce_schema_0}}}</p>
  <spacer size="20" />
  <img src="{{cdn}}assets/img/announce-0/charger_web@2x.png" alt="Changer schema">
	</td>
</tr></tbody></table>
<table class="announce-block --pink --row"><tbody><tr>
	<td> 
  <spacer size="30" />
  <row>
    <columns>
      <p>{{{announce_schema_1}}}</p>
      <center class="text-right hide-for-large">
        <spacer size="15"></spacer>
        <img src="{{cdn}}assets/img/announce-0/{{announce_platform}}1_mobile@2x.png" style="width: 124px !important; height: 256px;">
        <spacer size="20"></spacer>
      </center>
    </columns>
    <columns>
      <p>{{{announce_schema_2}}}</p>
      <center class="text-right hide-for-large">
        <spacer size="15"></spacer>
        <img src="{{cdn}}assets/img/announce-0/{{announce_platform}}2_mobile@2x.png" style="width: 124px !important; height: 256px;">
        <spacer size="20"></spacer>
      </center>
    </columns>
    <columns>
      <p>{{{announce_schema_3}}}</p>
      <center class="text-right hide-for-large">
        <spacer size="15"></spacer>
        <img src="{{cdn}}assets/img/announce-0/{{announce_platform}}3_mobile@2x.png" style="width: 276px !important; height: 182px;">
        <spacer size="20"></spacer>
      </center>
    </columns>
  </row>
  <row class="show-for-large">
    <columns>
      <img src="{{cdn}}assets/img/announce-0/{{announce_platform}}1@2x.png" alt="">
    </columns>
    <columns>
      <img src="{{cdn}}assets/img/announce-0/{{announce_platform}}2@2x.png" alt="">
    </columns>
    <columns>
      <img src="{{cdn}}assets/img/announce-0/{{announce_platform}}3@2x.png" alt="">
    </columns>
  </row>
	</td>
</tr></tbody></table>
<table class="announce-block "><tbody><tr>
	<td>
  {{{announce_text_2}}}
	</td>
</tr></tbody></table>

{{> body}}

<!--<img src="{{cdn}}assets/img/announce-0/{{announce_platform}}_web@2x.png" alt="Changer schema">-->