{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head> 
    <link rel="stylesheet" type="text/css" href="{{{root}}}css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{{subject}}}</title>
    <!-- <style> -->
  </head>
  <body>
    <span class="preheader">{{{description}}}</span>
    <table class="body healbe">
      <tr>
        <td class="center" align="center" valign="top">
          <!-- <wrapper style="background-color: #86197b">
            <center>
              <img src="{{{cdn}}}assets/img/header-static@2x.png" width="1265" height="86">
            </center>
          </wrapper> -->
          <center class="main-content">
            <!-- <spacer size="15" /> -->
            <wrapper style="background-color: #86197b; background: linear-gradient(to bottom, rgba(140,25,125,1) 0%, rgba(128,27,122,1) 100%);">
              <center>
                <!-- <spacer size="25"></spacer>  -->
                <wrapper class="show-for-large">
                  <center>
                    <img src="{{{cdn}}}assets/img/header@2x.png" width="600" height="88">
                  </center>
                </wrapper>
                <wrapper class="hide-for-large">
                  <center>
                    <spacer size="25"></spacer>
                    <img src="{{{cdn}}}assets/img/img_healbe@2x.png" width="135" height="38">
                    <spacer size="25"></spacer>
                  </center>
                </wrapper>
                <!-- <spacer size="25"></spacer>  -->
              </center>
            </wrapper>
            <wrapper style="background-color: #86197b; background: linear-gradient(to bottom, rgba(128,27,122,1) 0%, rgba(120,27,119,1) 100%);">
              <container style="border-bottom-right-radius: 0 !important; border-bottom-left-radius: 0 !important;">
                <spacer size="25"></spacer> 
                <h1 class="text-center">{{{main_title}}}</h1>
              </container>
            </wrapper>

            
            {{> body}}

            <container>
              <table class="product">
                <tr>
                  <td class="info">
                    <p class="brand-new">Brand new</p>
                    <img src="{{{cdn}}}assets/img/img_gobe2@2x.png" width="132" height="57" class="logo">
                    <spacer size="15"></spacer>
                    <p>
                        {{{call_action}}}
                    </p>
                    <spacer size="15"></spacer>
                    <table class="show-for-large button-group">
                      <tr>
                        <!--<td style="padding-right: 15px;"><button href="{{{buy_url}}}">{{{buy_text}}}</button></td>!-->
                        <td><button href="{{{inf_url}}}" class="">{{{inf_text}}}</button></td>
                        <td width="100%"></td>
                      </tr>
                    </table>
                  </td>
                  <td class="device text-right">
                    <img src="{{{cdn}}}assets/img/img_device@2x.png" class="float-right show-for-large" width="226" height="218">
                    <img src="{{{cdn}}}assets/img/img_device_mobile@2x.png" class="float-right hide-for-large" width="152" height="149">
                  </td>
                </tr>
              </table>
              <row class="hide-for-large">
                <columns>
                  <!--<button href="{{{buy_url}}}" target="_blank" class="expanded">{{{buy_text}}}</button> !-->
                  <button href="{{{inf_url}}}" target="_blank" class="expanded">{{{inf_text}}}</button>
                </columns>
              </row>
            </container>

            <spacer size="30"></spacer>

            <p class="text-center">
              Made with 
              <img src="{{{cdn}}}assets/img/icn_heart@2x.png" width="21" height="19" style="display: inline-block; margin-bottom: -5px;">
              by <a style="color: #4d4d4f; text-decoration: underline;" href="http://healbe.com/">Healbe</a>
            </p>
            <spacer size="15"></spacer>
            <table class="socials">
              <tr>
                <td class="socials__pull"></td>
                <td class="socials__item">
                  <a href="{{{fb_url}}}" target="_blank"><img src="{{{cdn}}}assets/img/icn_fb@2x.png" width="35" height="34" class="socials__item__icon"></a>
                </td>
                <td class="socials__item">
                  <a href="{{{tw_url}}}" target="_blank"><img src="{{{cdn}}}assets/img/icn_twitter@2x.png" width="35" height="34" class="socials__item__icon"></a>
                </td>
                <td class="socials__item">
                  <a href="{{{in_url}}}" target="_blank"><img src="{{{cdn}}}assets/img/icn_insta@2x.png" width="35" height="34" class="socials__item__icon"></a>
                </td>
                <td class="socials__item">
                  <a href="{{{yt_url}}}" target="_blank"><img src="{{{cdn}}}assets/img/icn_youtube@2x.png" width="35" height="34" class="socials__item__icon"></a>
                </td>
                <td class="socials__item">
                  <a href="{{{md_url}}}" target="_blank"><img src="{{{cdn}}}assets/img/icn_medium@2x.png" width="35" height="34" class="socials__item__icon"></a>
                </td>
                <td class="socials__pull"></td>
              </tr>
            </table>
            <spacer size="15"></spacer>
            <p class="text-center">
              <a style="color: #8e8e8e; text-decoration: underline;" href="#">Unsubscribe</a>
            </p>

            <spacer size="16"></spacer>

          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

