{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{{root}}}css/app.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{{subject}}}</title>
  <!-- <style> -->
</head>

<body>
  <span class="preheader">{{{description}}}</span>
  <table class="body healbe-announce">
    <tr>
      <td class="center" align="center" valign="top">
        <center class="main-content">
          <wrapper class="show-for-large">
            <center>
              <spacer size="25"></spacer>
              <img src="{{{cdn}}}assets/img/announce-0/logo@retina.png" style="width: 135px; height: 38px">
              <spacer size="25"></spacer>
            </center>
          </wrapper>

          <container class="announce-body">
            {{> body}}
          </container>

          <spacer size="30"></spacer>

          <container class="announce-footer">
            <p class="text-center">
              We constantly work and do our best to improve and develop our product to make our users more happy and healthy! So follow us and let's keep in touch
            </p>
            <spacer size="15"></spacer>
            <table class="socials">
              <tr>
                <td class="socials__pull"></td>
                <td class="socials__item">
                  <a href="{{{fb_url}}}" target="_blank"><img src="{{{cdn}}}assets/img/announce-0/fb@2x.png" width="35" height="34" class="socials__item__icon"></a>
                </td>
                <td class="socials__item">
                  <a href="{{{tw_url}}}" target="_blank"><img src="{{{cdn}}}assets/img/announce-0/twitter@2x.png" width="35" height="34" class="socials__item__icon"></a>
                </td>
                <td class="socials__item">
                  <a href="{{{in_url}}}" target="_blank"><img src="{{{cdn}}}assets/img/announce-0/insta@2x.png" width="35" height="34" class="socials__item__icon"></a>
                </td>
                <td class="socials__item">
                  <a href="{{{yt_url}}}" target="_blank"><img src="{{{cdn}}}assets/img/announce-0/youtube@2x.png" width="35" height="34" class="socials__item__icon"></a>
                </td>
                <td class="socials__item">
                  <a href="{{{md_url}}}" target="_blank"><img src="{{{cdn}}}assets/img/announce-0/medium@2x.png" width="35" height="34" class="socials__item__icon"></a>
                </td>
                <td class="socials__item">
                  <a href="{{{vk_url}}}" target="_blank"><img src="{{{cdn}}}assets/img/announce-0/vk@2x.png" width="35" height="34" class="socials__item__icon"></a>
                </td>
                <td class="socials__pull"></td>
              </tr>
            </table>
            <spacer size="15"></spacer>
            <p class="text-center">
              Made with
              <img src="{{{cdn}}}assets/img/announce-0/heart@2x.png" style="display: inline-block; margin-bottom: -5px;width: 21px; height: 19px"> by <a style="color: white; text-decoration: underline;" href="http://healbe.com/">Healbe</a>
            </p>
            <spacer size="35"></spacer>
          </container>
        </center>
      </td>
    </tr>
  </table>
  <!-- prevent Gmail on iOS font size manipulation -->
  <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>

</html>